:root {
  --radius: 0.625rem;
  --background: oklch(0.991 0.004 271.371);
  --foreground: oklch(0.21 0.032 264.665);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.21 0.032 264.665);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.21 0.032 264.665);
  --primary: oklch(0.567 0.209 257.945);
  --primary-foreground: oklch(0.987 0.006 255.474);
  --secondary: oklch(0.967 0.016 253.901);
  --secondary-foreground: oklch(0.498 0.183 258.445);
  --muted: oklch(0.963 0.012 259.823);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.956 0.021 261.772);
  --accent-foreground: oklch(0.498 0.183 258.445);
  --destructive: oklch(0.619 0.242 11.332);
  --border: oklch(0.916 0.019 255.538);
  --input: oklch(0.933 0.016 262.751);
  --ring: oklch(0.567 0.209 257.945);
  --chart-1: oklch(0.567 0.209 257.945);
  --chart-2: oklch(0.733 0.193 150.815);
  --chart-3: oklch(0.782 0.158 72.327);
  --chart-4: oklch(0.577 0.192 304.033);
  --chart-5: oklch(0.619 0.242 11.332);

  --sidebar: oklch(1 0 0);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --background: oklch(0.16 0.035 271.132);
  --foreground: oklch(0.975 0.006 255.475);
  --card: oklch(0.187 0.038 268.621);
  --card-foreground: oklch(0.975 0.006 255.475);
  --popover: oklch(0.187 0.038 268.621);
  --popover-foreground: oklch(0.975 0.006 255.475);
  --primary: oklch(0.657 0.182 261.723);
  --primary-foreground: oklch(0.987 0.006 255.474);
  --secondary: oklch(0.235 0.044 267.79);
  --secondary-foreground: oklch(0.894 0.052 261.069);
  --muted: oklch(0.235 0.044 267.79);
  --muted-foreground: oklch(0.711 0.035 256.788);
  --accent: oklch(0.275 0.071 262.65);
  --accent-foreground: oklch(0.894 0.052 261.069);
  --destructive: oklch(0.723 0.185 3.069);
  --border: oklch(0.291 0.047 264.852);
  --input: oklch(0.27 0.052 267.456);
  --ring: oklch(0.657 0.182 261.723);
  --chart-1: oklch(0.657 0.182 261.723);
  --chart-2: oklch(0.774 0.168 154.243);
  --chart-3: oklch(0.85 0.132 82.561);
  --chart-4: oklch(0.706 0.184 301.092);
  --chart-5: oklch(0.723 0.185 3.069);

  --sidebar: oklch(0.146 0.033 271.674);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@theme inline {
  --font-inter: 'Inter', 'sans-serif';
  --font-manrope: 'Manrope', 'sans-serif';

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
